<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/images/logo_black-remove.png" alt="Company Logo" />
    </div>
  
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      Dashboard
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/date-personale">
     Date personale
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contract-studii">
      Contract de studii
     </a>

     <a mat-list-item routerLinkActive="list-item-active" routerLink="/orar">
        Orar
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/catalog">
        Catalog
    </a>
  
    <mat-divider></mat-divider>
  
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/logout">
        Logout
    </a>
  </mat-nav-list>
  
  
  
  