:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  
  }
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
  
  }
  .logo img {
    width: 200px;
    padding-bottom: 100px;
  }
  
  .mat-list-item {
    color: #F0EDEC !important;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12;
    height: 12 !important;
    margin-bottom: 4px;
    padding-top: 500px;
  }
  .mat-list-item:hover {
    color: #CC3F0C !important;
    font-weight: 800;
    font-size: 12;
    height: 29.26 !important;
  }
  .mat-list-item ::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 8px;
  }
  .mat-list-item ::ng-deep .mat-list-item-content:hover {
    background: #ffffff !important;
  }
  .list-item-active {
    color: #CC3F0C !important;
  }
  .list-item-active ::ng-deep .mat-list-item-content {
    background: #ffffff !important;
  }
  .list-item-active ::ng-deep .mat-list-item-content:hover {
    background: #ffffff !important;
  }
  .mat-subheader {
    color: #b5f881;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .mat-divider {
    /* position: absolute; */
    border-top-width: 2px;
    padding-bottom: 0 - 24px;
    border-color: #FAF6F4;
  }
  