<div class="container-fluid page">
    <div class="d-flex page__box  p-3 mt-2">Anul III</div>
    <div class="d-flex page__box page__an__studii  p-3 mt-2">Anul III</div>
  
    <div class="d-flex page__an__universitar p-4 m-1">An universitar: 2021</div>
  
    <div class="d-flex page__box__tip__materie p-3 mt-2">Materii obligatorii</div>
    <div class="d-flex page__box__denumire__materie p-3 mt-2">Materie obligatorie 1</div>
    <div class="page__content shadow p-3 position-relative">
    </div>
  </div>
  