{% extends "base.html" %}
{% block title %}UniON{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post">
    <div class="form-group">
        <label for="Nume">Nume</label>
        <input name="nume" class="form-control" id="inputNume" aria-describedby="emailHelp" placeholder="Nume de familie">
        <small id="nume" class="form-text text-muted">Introduceti numele de familie</small>
  </div>
  <div class="form-group">
    <label for="Prenume">Prenume</label>
    <input name="prenume" class="form-control" id="inputPrenume" aria-describedby="emailHelp" placeholder="Prenume complet">
    <small id="prenume" class="form-text text-muted">Introduceti prenumele</small>
</div>
<div class="form-group">
  <label for="Cnp">CNP</label>
  <input name="cnp" class="form-control" id="inputCnp" aria-describedby="emailHelp" placeholder="CNP">
  <small id="cnp" class="form-text text-muted">Introduceti CNP</small>
</div>
  <div class="form-group">
        <label for="InputEmail">Adresa de email</label>
        <input name="email" class="form-control" id="InputEmail"  placeholder="Adresa de email">
        <small id="emailHelp" class="form-text text-muted">Folositi adresa de email de la facultate (@stud.acs.upb.ro)</small>
  </div>
  <div class="form-group">
    <label for="InputPassword">Parola</label>
    <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Parola">
  </div>

    <div class="form-group">
    <label for="InputPassword2">Repetati parola</label>
    <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repetati parola">

    </div>
  <button type="submit" class="btn btn-primary">Inregistrare</button>


</form>



{% endblock %}