<div class="container-fluid page">
    <div class="d-flex p-5 mt-1">BINE AI VENIT, Student!</div>
    <div class="d-flex page__box__activitati p-3 mt-2">Activități</div>
  
  
    <div class="d-flex page__box__orar p-3 mt-2">Orar</div>
    <div class="d-flex page__box__evenimente p-3 mt-2">Evenimente viitoare</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute ">
        <!-- Bine ai venit, Student! -->
      </div>
    </div>
  </div>
  